@charset "utf-8";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	color: black;
}
a:hover {
	color: black;
}
.main{
	padding: 100px;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
}
img {
	width: inherit;
	height: inherit;
	object-fit: cover;
}
.sub-banner {
	margin-bottom: 50px;
}
.sub-banner a {
	color: black;
}
.image-container {
	position: relative;
	display: inline-block; /* 이미지 주변 여백을 조정할 수 있습니다 */
}
.image {
	display: block; /* 이미지를 블록 요소로 설정하여 여백을 제거 */
	transition: opacity 0.3s ease; /* 부드러운 흐림 효과 */
}
.overlay {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white; /* 텍스트 색상 */
	font-size: 20px; /* 텍스트 크기 */
	opacity: 0; /* 기본적으로 숨김 */
	transition: opacity 0.3s ease; /* 부드러운 나타남 효과 */
}
.image-container:hover .image {
	opacity: 0.7; /* hover 시 이미지 흐림 */
}
.image-container:hover .overlay {
	opacity: 1; /* hover 시 텍스트 나타남 */
	color: white;
}