@charset "utf-8";
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	color: black;
}
a:hover {
	color: black;
}
div p {
	font-size: small;
}
.dropdown-toggle {
	display: inline-flex;
	align-items: center;
	cursor: pointer;
}

.dropdown-toggle svg {
	margin-right: 8px;
}

.dropdown-content {
	display: none;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.1); /* 반투명 배경 */
	border: 1px solid #ccc;
	border-radius: 4px;
	position: absolute;
	margin-top: 5px;
	width: 100px;
}

.dropdown-content p {
	margin: 0;
	padding: 8px 0;
	cursor: pointer;
	display: flex;
	justify-content: center;
}

.dropdown-content p:hover {
	background-color: rgba(0, 0, 0, 0.2); /* hover 시 색상 변경 */
}

.btna {
	background-color: lightgray;
	border: 0;
	padding: 10px 10px;
	width: 130px;
}

.btnc {
	background-color: lightgray;
	border: 0;
	padding: 10px 15px;
	width: 110px;
}

.btns {
	background-color: lightgray;
	border: 0;
	padding: 5px 10px;
	width: 50px;
}

.btna:hover {
	background-color: #999;
}

.btns:hover {
	background-color: #999;
}

.btnc:hover {
	background-color: #999;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: inner-spin-button;
	opacity: 1;
}
